//- index.jade
extends ./layout.jade
block row-content    
    .row
        .col-lg-3.col-md-3.col-sm-12
            mixin card_min(user)
        .col-lg-4.col-md-4.col-sm-12
            .media.container-fluid
                .row
                    .col-lg-12.col-xs-12.text-center
                        span.pull-left
                            i.fa.fa-smile-o
                            | &nbsp; Good
                        span
                            i.fa.fa-phone &nbsp;
                            span#good_number 0
                        span.pull-right#good_percentage
                            | 0%
                        .progress(style='height: 6px;')
                            .progress-bar.progress-bar-good#good_progress(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 0%;')
                    .col-lg-12.col-xs-12.text-center
                        span.pull-left
                            i.fa.fa-meh-o
                            | &nbsp; Medium
                        span#medium_number
                            i.fa.fa-phone &nbsp;
                            | 0
                        span.pull-right#medium_percentage
                            | 0%
                        .progress(style='height: 6px;')
                            .progress-bar.progress-bar-medium#medium_progress(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 0%;')
                    .col-lg-12.col-xs-12.text-center
                        span.pull-left
                            i.fa.fa-frown-o
                            | &nbsp; Bad
                        span
                            i.fa.fa-phone &nbsp;
                            span#bad_number 0
                        span.pull-right#bad_percentage
                            | 0%
                        .progress(style='height: 6px;')
                            .progress-bar.progress-bar-bad#bad_progress(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 0%;')
                .row         
                    .col-md-12.col-xs-12.card_footer
                        h5.text-center
                            | Customer satisfaction
        .col-lg-2.col-md-2.col-sm-6
            .media.container-fluid
                .row.v-center
                    h3 #{calls.length}
                .row            
                    .col-md-12.col-xs-12.card_footer
                        h5.text-center
                            | Number of calls
        .col-lg-2.col-md-2.col-sm-6
            .media.container-fluid
                .row.v-center
                    h3 5 min
                .row         
                    .col-md-12.col-xs-12.card_footer
                        h5.text-center
                            | Avg. time
    .row
    
        .col-lg-3.col-md-3.col-sm-12
            h2(style='padding-left: 20px') Timeline
            .pre-scrollable
                ul.cbp_tmtimeline
                    each call in calls
                        li
                            a(href="/user/#{call._user._id}/call/#{call._id}")
                                .cbp_tmicon
                                    mixin sentiment(call.sentiment)
                                time.cbp_tmtime(datetime=moment(call.date).format("YYYY-MM-DD HH:mm"))
                                    span=moment(call.date).format("DD/MM/YYYY")
                                    span=moment(call.date).format("HH:mm a")
        .col-lg-7.col-md-7.col-sm-12
            canvas#graph_line
    div#graph_data(style="display:none;")
       | #{JSON.stringify(graph_data)}
    div#calls_data(style="display:none;")
       | #{JSON.stringify(calls)}
block scripts
    script(type='text/javascript', src='/js/graph.js')
    script(type='text/javascript', src='/js/util_user.js')
    