mixin sentiment(value)
    if _.floor(value) === 3
        img(src='/images/s_bom_small.png', title='#{value}')
    else if _.floor(value) === 2
        img(src='/images/s_medio_small.png', title='#{value}')
    else
        img(src='/images/s_ruim_small.png', title='#{value}')
mixin user_photo(name)
    if name !== undefined
        img.img-circle(src='/images/#{name}', width='70px')
    else
        img.img-circle(src='/images/user.png')
        
        
        
        
mixin card(user)
    .media.container-fluid
            .row
                .col-md-3.col-xs-12
                    a.pull-left(href='#')
                      mixin user_photo(user.picture)
                .col-md-6.col-xs-12
                    div.media-body
                        h4.media-heading
                        | #{user.firstName} #{user.lastName}
                .col-md-3.col-xs-12.label
                    h4 
                        mixin sentiment(user.sentiment) 
            .row            
                .col-md-12.col-xs-12.label.label-default
                    h5.pull-left Calls  #{user.calls}

mixin card_min(user)
    .media.container-fluid
        .row
            .col-md-4.col-xs-12
                a.pull-left(href='#')
                  mixin user_photo(user.picture)
            .col-md-8.col-xs-12
                  div.media-body
                    h4.media-heading
                      | #{user.firstName} #{user.lastName}
                      //small  IT Specialist
                    |                 
                    h5
                      | Software Developer
                    | 
        .row            
            .col-md-6.col-xs-12.label.label-default
                h4 Calls
                h4 #{user.calls}              
            .col-md-6.col-xs-12.label.label-success
                h4 
                    mixin sentiment(user.sentiment)              