mixin sentiment(value)
    if _.floor(value) === 3
        img(src='/images/s_bom_small.png', title='#{value}')
    else if _.floor(value) === 2
        img(src='/images/s_medio_small.png', title='#{value}')
    else
        img(src='/images/s_ruim_small.png', title='#{value}')
mixin user_photo(name)
    if name !== undefined
        img.img-circle(src='/images/#{name}', width='100px')
    else
        img.img-circle(src='/images/user.png')
mixin user_card(user)
    .user_card
        .col-lg-4.col-md-4.col-sm-4
            mixin user_photo(user.picture)
        .col-lg-4.col-md-4.col-sm-4
            | #{user.firstName}
            br
            | #{user.lastName}
        .col-lg-4.col-md-4.col-sm-4
            mixin sentiment(user.sentiment)